@layer components {
  .canopy-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.618rem;
    padding: 0.618rem 1rem;
    background: var(--color-gray-50);
  }
}
