a.canopy-logo {
  display: flex;
  align-items: center;
  gap: 0.618rem;
  font-weight: 400;
  font-size: 1.618rem;
  font-family: var(--font-serif);
  color: var(--color-gray-default) !important;

  &:hover {
    text-decoration: none;
  }

  svg {
    height: 1.618rem;
    margin-bottom: -1px;

    circle.canopy-logo-backlight {
      fill: var(--color-brand-900);
      color: var(--color-brand-900);
    }

    path.canopy-logo-overlay {
      fill: var(--color-brand-default);
      color: var(--color-brand-default);
    }
  }
}

html.dark a.canopy-logo {
  svg {
    circle.canopy-logo-backlight {
      fill: var(--color-brand-200) !important;
      color: var(--color-brand-200) !important;
    }

    path.canopy-logo-overlay {
      fill: var(--color-brand-500) !important;
      color: var(--color-brand-500) !important;
    }
  }
}
