@layer components {
  .canopy-logo {
    display: flex;
    align-items: center;
    gap: 0.618rem;
    font-size: 1.382rem;
    color: var(--color-gray-default) !important;
    line-height: 1;

    &:hover {
      text-decoration: none;
    }

    svg {
      height: 1.65rem;
      display: block;

      circle.canopy-logo-backlight {
        fill: var(--color-accent-900);
        color: var(--color-accent-900);
      }

      path.canopy-logo-overlay {
        fill: var(--color-accent-default);
        color: var(--color-accent-default);
      }
    }
  }

  html.dark .canopy-logo {
    svg {
      circle.canopy-logo-backlight {
        fill: var(--color-accent-200) !important;
        color: var(--color-accent-200) !important;
      }

      path.canopy-logo-overlay {
        fill: var(--color-accent-500) !important;
        color: var(--color-accent-500) !important;
      }
    }
  }
}
