@config "./tailwind.config.mts";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/theme";
@import "@canopy-iiif/app/ui/styles/index.css";

/* CSS variables */
@layer properties {
  :root {
    --font-sans: "Inter", system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    --font-serif: "Fraunces", Georgia, "Times New Roman", serif;
    --font-mono: "ui-monospace", Menlo, Consolas, monospace;
  }
}

/* Example component layer overrides */
@layer components {
}
@layer base {
  html {
    font-family: var(--font-sans);
    font-optical-sizing: auto;
    font-size: 105%;
    font-weight: 400;
    scroll-behavior: smooth;
  }
}
