@use "./variables" as *;

:root {
  --color-brand-50: #{$color-brand-50};
  --color-brand-100: #{$color-brand-100};
  --color-brand-200: #{$color-brand-200};
  --color-brand-300: #{$color-brand-300};
  --color-brand-400: #{$color-brand-400};
  --color-brand-500: #{$color-brand-500};
  --color-brand-600: #{$color-brand-600};
  --color-brand-700: #{$color-brand-700};
  --color-brand-800: #{$color-brand-800};
  --color-brand-900: #{$color-brand-900};
  --color-brand-default: #{$color-brand-default};

  --color-gray-50: #{$color-gray-50};
  --color-gray-100: #{$color-gray-100};
  --color-gray-200: #{$color-gray-200};
  --color-gray-300: #{$color-gray-300};
  --color-gray-400: #{$color-gray-400};
  --color-gray-500: #{$color-gray-500};
  --color-gray-600: #{$color-gray-600};
  --color-gray-700: #{$color-gray-700};
  --color-gray-800: #{$color-gray-800};
  --color-gray-900: #{$color-gray-900};
  --color-gray-default: #{$color-gray-default};
  --color-gray-muted: #{$color-gray-muted};

  // Clover IIIF specific color roles
  --colors-accent: #{$color-brand-default} !important;
  --colors-accentAlt: #{$color-brand-800} !important;
  --colors-accentMuted: #{$color-brand-400} !important;
  --colors-primary: #{$color-gray-default} !important;
  --colors-primaryAlt: #{$color-gray-default} !important;
  --colors-primaryMuted: #{$color-gray-default} !important;
  --colors-secondary: #{$color-gray-50} !important;
  --colors-secondaryAlt: #{$color-gray-50} !important;
  --colors-secondaryMuted: #{$color-gray-50} !important;

  --font-sans: #{$font-sans} !important;
  --font-mono: #{$font-mono} !important;

  --font-size-xs: #{$font-size-xs} !important;
  --line-height-xs: #{$line-height-xs} !important;
  --font-size-sm: #{$font-size-sm} !important;
  --line-height-sm: #{$line-height-sm} !important;
  --font-size-base: #{$font-size-base} !important;
  --line-height-base: #{$line-height-base} !important;
  --font-size-lg: #{$font-size-lg} !important;
  --line-height-lg: #{$line-height-lg} !important;
  --font-size-xl: #{$font-size-xl} !important;
  --line-height-xl: #{$line-height-xl} !important;
  --font-size-2xl: #{$font-size-2xl} !important;
  --line-height-2xl: #{$line-height-2xl} !important;
  --font-size-3xl: #{$font-size-3xl} !important;
  --line-height-3xl: #{$line-height-3xl} !important;

  --radius-sm: #{$radius-sm} !important;
  --radius-default: #{$radius-default} !important;
  --radius-md: #{$radius-md} !important;

  --max-w-content: #{$max-w-content} !important;
  --max-w-wide: #{$max-w-wide} !important;

  --shadow-sm: #{$shadow-sm} !important;
  --shadow: #{$shadow} !important;
  --shadow-md: #{$shadow-md} !important;
  --shadow-lg: #{$shadow-lg} !important;

  --duration-fast: #{$duration-fast} !important;
  --easing-standard: #{$easing-standard} !important;
}
