@layer base {
  body {
    margin: 0;
    padding: 0;
    background: var(--color-gray-50);
    color: var(--color-gray-900);
  }

  p {
    line-height: 1.618;
    margin-bottom: 1.618rem;
  }

  ol,
  ul {
    padding-left: 1.618rem;

    li {
      margin-bottom: 0.382rem;
      list-style: disc;
    }
  }

  a {
    text-decoration: none;
    color: var(--color-accent-default);

    &:hover {
      text-decoration: underline;
    }
  }

  input,
  textarea,
  select,
  button {
    font-family: inherit;
  }

  ::selection {
    background-color: var(--color-accent-200);
  }
}
