h1 {
  font-family: var(--font-serif);
  font-size: 2.618rem;
  line-height: 1.25;
  margin: 0 0 1rem 0;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h2 {
  font-family: var(--font-serif);
  font-size: 1.618rem;
  line-height: 1.25;
  margin: 2.618rem 0 1rem;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h3 {
  font-size: 1.382rem;
  line-height: 1.3;
  letter-spacing: -0.0125em;
  margin: 1.618rem 0 1rem;
  font-weight: 400;
}
