.canopy-iiif-image {
  --canopy-iiif-image-height: 600px;
  --canopy-iiif-image-bg: var(--color-gray-200);

  display: block;
  margin: 1.618rem 0 2.618rem;

  &__placeholder {
    position: relative;
    width: 100%;
    height: var(--canopy-iiif-image-height);
    background-color: var(--canopy-iiif-image-bg);
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  }

  &__placeholder > script {
    display: none;
  }

  &__caption {
    margin: 0.75rem 0 0;
    color: var(--color-gray-800);
    font-size: 0.875rem;
    line-height: 1.4;
  }
}

html.dark .canopy-iiif-image {
  .clover-iiif-image-openseadragon {
    div[data-testid="clover-iiif-image-openseadragon-controls"] {
      button {
        background-color: var(--color-gray-100);
        color: var(--color-gray-900);
        fill: var(--color-gray-900);
        stroke: var(--color-gray-900);

        svg {
          color: inherit;
          fill: inherit;
          stroke: inherit;
        }

        &:hover,
        &:focus {
          background-color: var(--color-accent-default);
        }
      }
    }

    .clover-iiif-image-openseadragon-annotation {
      label {
        background-color: var(--color-gray-100);
        color: var(--color-gray-900);
      }
    }
  }
}
