.canopy-slider {
  margin: 1.618rem 0 0;

  button {
    svg {
      filter: unset;
    }
  }

  @media (max-width: 800px) {
    > div > div {
      align-items: center;
      text-align: center;

      > div {
        &:last-child {
          padding-top: 1rem;
        }
      }
    }
  }

  .clover-slider-header-label {
    font-size: 1.125rem !important;
    letter-spacing: -0.01em;
  }

  a.clover-slider-header-homepage {
    color: var(--color-accent-default);
    text-decoration: none;
  }

  .clover-slider-header-summary {
    display: block;
    font-size: 1rem !important;
    font-weight: 300 !important;
    color: var(--color-gray-default);
  }

  .swiper-slide {
    // margin-right: 1.618rem !important;
    padding-bottom: 1rem;

    a {
      display: block;
      text-decoration: none;
      color: inherit;
      border: 1px solid var(--color-gray-200);
      overflow: hidden;
      border-radius: 0.5rem;
      transition: all 150ms cubic-bezier(0.22, 1, 0.36, 1);
      box-shadow:
        0 1px 3px 0 rgba(0, 0, 0, 0.05),
        0 1px 3px 0 rgba(0, 0, 0, 0.05);
    }
  }

  figure {
    > div {
      border-radius: 3px;
      overflow: hidden;
    }
  }

  figcaption {
    padding: 1rem !important;

    > span {
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      white-space: normal;
      font-size: 1rem;
      font-weight: 300;
      line-height: 1.38em;
      text-decoration: none !important;
    }
  }

  a figcaption,
  a:visited figcaption {
    color: var(--color-gray-default);
  }

  a:hover figcaption,
  a:focus figcaption {
    color: var(--color-accent-default);
  }
}
