/* Canopy Card component styles */
.canopy-card {
  display: block;
  text-decoration: none;
  color: inherit;
  // light gray border
  border: 1px solid var(--color-gray-200);
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 150ms cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.05),
    0 1px 3px 0 rgba(0, 0, 0, 0.05);

  figure {
    margin: 0;
  }

  .canopy-card-media {
    position: relative;
    width: 100%;
    padding-bottom: var(--canopy-card-padding);
    background-color: rgb(229 231 235); /* slate-200 */
    overflow: hidden;

    > img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      opacity: 0;
      transition: opacity 500ms cubic-bezier(0.22, 1, 0.36, 1);
      background: var(--color-gray-100);
      color: var(--color-gray-600);
      font-size: 83.333%;
    }
  }

  &[data-image-loaded="true"] .canopy-card-media > img {
    opacity: 1;
  }

  .canopy-card-image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 500ms cubic-bezier(0.22, 1, 0.36, 1);
  }

  &[data-image-loaded="true"] .canopy-card-image {
    opacity: 1;
  }

  figcaption {
    padding: 1rem;

    > span:first-child {
      display: block;
    }

    > span + span {
      display: block;
    }
  }

  &:hover,
  &:focus {
    color: var(--color-accent-default);
    box-shadow:
      0 1px 2px 0 rgba(0, 0, 0, 0.07),
      0 1px 2px 0 rgba(0, 0, 0, 0.07);
  }
}
