.canopy-hero {
    padding: 0;
    margin: 0;

    figcaption {
        margin: 0;
        padding: 1rem 0 0;
        font-size: 1rem;
        text-align: right;
    }
}

.canopy-hero-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.canopy-hero__media {
    position: relative;
}
