.canopy-image-story.storiiies-viewer {
  --storiiies-viewer-container-bg: var(--color-gray-200);
  --storiiies-viewer-font-family: var(--default-font-family);
  --storiiies-viewer-font-size: 1rem;
  --storiiies-viewer-title-font-size: 1.222rem;
  --storiiies-viewer-fg: var(--color-gray-900);
  --storiiies-viewer-bg: var(--color-gray-50);
  --storiiies-viewer-outer-spacing: 1rem;
  --storiiies-viewer-line-height: unset;
  --storiiies-viewer-col-gap: 0.618rem;
  --storiiies-viewer-row-gap: 0.618rem;
  --storiiies-viewer-button-bg: var(--color-accent-default);
  --storiiies-viewer-button-fg: var(--color-gray-50);

  border-radius: 0.5rem;
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: inset 0 0 0 1px #0000000d;

  .storiiies-viewer__info-text {
    margin-top: 1.618rem;
  }

  p {
    font-size: var(--storiiies-viewer-font-size);
    color: var(--color-gray-800);
  }

  .storiiies-viewer__text-section {
    font-weight: 300;

    strong {
      display: none;
    }

    &.storiiies-viewer__title {
      font-size: var(--storiiies-viewer-title-font-size);
      font-weight: 500;
      color: var(--color-gray-900);
    }
  }

  .storiiies-viewer__info-area {
    border-radius: 0.5rem;
    box-shadow: 5px 5px 21px #0001;
    font-weight: 300;
  }

  &[data-canopy-image-story] {
    min-height: 320px;
  }
}
