.canopy-layout {
  display: grid;
  width: 100%;
  padding: 1.618rem;
  gap: clamp(1.5rem, 3vw, 3rem);
  grid-template-columns: minmax(0, 1fr);
  align-items: start;
}

.canopy-layout--fixed {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.canopy-layout--fluid {
  max-width: none;
}

.canopy-layout__content {
  min-width: 0;
}

.canopy-layout__sidebar,
.canopy-layout__content-nav {
  position: relative;
}

@media (min-width: 70rem) {
  .canopy-layout--with-sidebar {
    grid-template-columns: 16rem minmax(0, 1fr);
  }

  .canopy-layout--with-content-nav:not(.canopy-layout--with-sidebar) {
    grid-template-columns: minmax(0, 1fr) 14rem;
  }

  .canopy-layout--with-sidebar.canopy-layout--with-content-nav {
    grid-template-columns: 16rem minmax(0, 1fr) 14rem;
  }
}
