.canopy-sub-navigation {
  color: inherit;
}

.canopy-sub-navigation__heading {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.canopy-sub-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.canopy-sub-navigation__item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.canopy-sub-navigation__link {
  display: block;
  padding: 0.35rem 0.5rem;
  border-radius: 0.375rem;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition:
    background-color 120ms ease,
    color 120ms ease;
}

.canopy-sub-navigation__link:hover {
  color: var(--color-brand-default);
}

.canopy-sub-navigation__link.is-label {
  cursor: default;
  color: var(--color-gray-600, #52525b);
}

.canopy-sub-navigation__link.is-active {
  color: var(--color-gray-900, #1d4ed8);
  font-weight: 600;
}

.canopy-sub-navigation__list--nested {
  margin: 0.35rem 0 0.35rem 0.5rem;
  padding-left: 0.5rem;
  border-left: 1px solid var(--color-gray-100, #e4e4e7);
}

.canopy-sub-navigation__link.depth-0 {
  padding-left: 0.25rem;
}

.canopy-sub-navigation__link.depth-1 {
  padding-left: calc(0.25rem);
}

.canopy-sub-navigation__link.depth-2 {
  padding-left: calc(0.25rem * 2);
}

.canopy-sub-navigation__link.depth-3 {
  padding-left: calc(0.25rem * 3);
}

.canopy-sub-navigation__link.depth-4 {
  padding-left: calc(0.25rem * 4);
}

.canopy-sub-navigation__link.depth-5 {
  padding-left: calc(0.25rem * 5);
}
