@layer components {
  body.canopy-type-work {
    main {
      h1 {
        font-size: 2rem;
        line-height: 1.1;
        margin: 1.618rem 0;
      }

      dl {
        padding: 0;
      }

      dl > div {
        display: grid;
        gap: 0.2rem;
        padding: 0.85rem 0;
      }

      dt {
        font-size: 0.7222rem;
        text-transform: uppercase;
        margin: 0;
        font-weight: 400;
        color: var(--color-gray-700);
      }

      dd {
        margin: 0;
        color: var(--color-gray-900);
        font-size: 1rem;
        line-height: 1.45;
      }
    }
  }
}
